<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    <title>{{ site_settings.site_name }} - {% block title %}{% endblock %}</title>
    
    <!-- Basic Meta Tags -->
    <meta name="description" content="{{ site_settings.meta_description }}">
    <meta name="keywords" content="{{ site_settings.meta_keywords }}">
    <meta name="author" content="{{ site_settings.meta_author }}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ site_settings.og_title }}">
    <meta property="og:description" content="{{ site_settings.og_description }}">
    <meta property="og:image" content="{% if site_settings.og_image %}{{ site_settings.og_image.url }}{% endif %}">
    <meta property="og:url" content="{{ site_settings.og_url }}">
    <meta property="og:type" content="website">

    <!-- Favicon -->
    {% if site_settings.favicon %}
        <link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    {% endif %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="{% if site_settings.logo %}{{ site_settings.logo.url }}{% endif %}" alt="{{ site_settings.site_name }}"> 
        <h1>{{ site_settings.site_name }}</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url "index" %}">Blog</a></li>
          <li><a href="#">Single Post</a></li>
          <li class="dropdown"><a href="#"><span>Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Search Result</a></li>
              <li><a href="#">All Content</a></li>
              <li class="dropdown"><a href="#"><span>Static Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  {% for page in static_pages %}
                    <li><a href="{% url 'static_page' slug=page.slug %}">{{ page.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% if request.user.is_authenticated %}
                <li><a href="{% url "profile" %}">{{ user.username }}</a></li>
              {% else %}
                <li><a href="{% url "login" %}">Login</a></li>
                <li><a href="{% url "register" %}">Register</a></li>
              {% endif %}
            </ul>
          </li>

          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        {% comment %} <div class="search-form-wrap js-search-form-wrap">
          <form action="{% url 'content/search_results' %}" method="get" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" name="q" placeholder="Search" class="form-control" value="{{ request.GET.q }}">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form --> {% endcomment %}

      </div>

    </div>

  </header><!-- End Header -->

  <section class="mt-5">
    {% block content %}
    {% endblock %}
  </section>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About {{ settings.site_name }}</h3>
            <p>{{ settings.site_description }}</p>
            <p><a href="#" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url "index" %}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{% url "index" %}"><i class="bi bi-chevron-right"></i> Blog</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Categories</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Single Post</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="#"><i class="bi bi-chevron-right"></i> Business</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Culture</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Sport</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Food</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Politics</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Startups</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Travel</a></li>

            </ul>
          </div>

          <div class="col-lg-4">
            <ul class="footer-links footer-blog-entry list-unstyled">
              <li>
                <a href="#" class="d-flex align-items-center">
                  <img src="{% static 'assets/img/post-sq-1.jpg' %}" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <span>5 Great Startup Tips for Female Founders</span>
                  </div>
                </a>
                {% if ads_base %}
                  <div class="ad" id="{{ ads_base.placement.slug }}">
                    {{ ads_base.code|safe }}
                  </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>{{ settings.site_name }}</span></strong>. All Rights Reserved <strong class="text-light">Email:</strong> {{ settings.contact_email }}
            </div>

            <div class="credits">
              Designed by <a href="#">Mr Nova</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>