<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    <title>
        {% if post and post.seo_title %}
            {{ post.seo_title }}
        {% elif post %}
            {{ post.title }} - {{ site_settings.site_name }}
        {% else %}
            {{ site_settings.site_name }}
        {% endif %}
    </title>

    <!-- Basic Meta Tags -->
    <meta name="description" content="{% if post and post.meta_description %}{{ post.meta_description }}{% elif post and post.excerpt %}{{ post.excerpt }}{% elif post %}{{ post.content|truncatewords:30 }}{% else %}{{ site_settings.meta_description }}{% endif %}">
    <meta name="keywords" content="{% if post and post.meta_keywords %}{{ post.meta_keywords }}{% else %}{{ site_settings.meta_keywords }}{% endif %}">
    <meta name="author" content="{% if post %}{{ post.author.get_full_name }}{% else %}{{ site_settings.meta_author }}{% endif %}">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% if post and post.seo_title %}{{ post.seo_title }}{% elif post %}{{ post.title }}{% else %}{{ site_settings.og_title }}{% endif %}">
    <meta property="og:description" content="{% if post and post.meta_description %}{{ post.meta_description }}{% elif post and post.excerpt %}{{ post.excerpt }}{% elif post %}{{ post.content|truncatewords:30 }}{% else %}{{ site_settings.og_description }}{% endif %}">
    <meta property="og:image" content="{% if post and post.image %}{{ post.image.url }}{% elif site_settings.og_image %}{{ site_settings.og_image.url }}{% endif %}">
    <meta property="og:url" content="{% if post %}{{ request.build_absolute_uri }}{% else %}{{ site_settings.og_url }}{% endif %}">
    <meta property="og:type" content="{% if post %}article{% else %}website{% endif %}">

    <!-- Post Reactions Meta -->
    <meta name="post-slug" content="{{ post.slug }}">

    <!-- Favicon -->
    {% if site_settings.favicon %}
        <link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    {% endif %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/buttom-nav.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="{% if site_settings.logo %}{{ site_settings.logo.url }}{% endif %}" alt="{{ site_settings.site_name }} logo"> 
                <h1>{{ site_settings.site_name }}</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'post_list' %}">Posts</a></li>
                    <li class="dropdown"><a><span>Account</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li>
                                    <a>
                                        <form method="post" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="bg-transparent p-0 border-0 "> Logout</button>
                                        </form>
                                    </a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <li class="dropdown"><a><span>Pages</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            {% for page in static_pages %}
                                <li><a href="{% url 'static_page_detail' slug=page.slug %}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    
                </ul>
            </nav><!-- .navbar -->

            <div class="position-relative">
                {% for link in site_settings.social_media_links.all %}
                    <a href="{{ link.url }}" target="_blank" class="mx-2"><i class="bi bi-{{ link.icon_class }}"></i></a>
                {% endfor %}

                <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
                <i class="bi bi-list mobile-nav-toggle"></i>

                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form method="get" action="{% url 'post_list' %}" class="search-form">
                        <button class="icon bi-search p-0 border-0" type="submit" style="background: transparent; box-shadow: none;"></button>
                        <input type="text" name="search" class="form-control" placeholder="Search" value="{{ search_query|default:'' }}">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div>

            </div>

        </div>

    </header><!-- End Header -->

    <main id="main">
        {% block content %}
        {% endblock %}
    </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">

            <div class="footer-content">
                <div class="container">

                    <div class="row g-5">
                        <div class="col-lg-4">
                            <h3 class="footer-heading">About {{ site_settings.site_name }}</h3>
                            <p>{{ site_settings.site_description }}</p>
                        </div>
                        <div class="col-6 col-lg-2">
                            <h3 class="footer-heading">Navigation</h3>
                            <ul class="footer-links list-unstyled">
                                {% for page in static_pages %}
                                    <li><a href="{% url 'static_page_detail' slug=page.slug %}"><i class="bi bi-chevron-right"></i> {{ page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-6 col-lg-2">
                            <h3 class="footer-heading">Categories</h3>
                            <ul class="footer-links list-unstyled">
                                {% for category in categories %}
                                    <li><a href="{% url 'post_list' %}?category={{ category.slug }}"><i class="bi bi-chevron-right"></i> {{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-lg-4">
                            <h3 class="footer-heading">Recent Posts</h3>

                            <ul class="footer-links footer-blog-entry list-unstyled">
                                {% for recent_post in recent_posts %}
                                    <li>
                                        <a href="{% url 'post_detail' recent_post.slug %}" class="d-flex align-items-center">
                                            {% if recent_post.image %}
                                                <img src="{{ recent_post.image.url }}" alt="{{ recent_post.title }}" class="img-fluid me-3">
                                            {% endif %}
                                            <div>
                                                <div class="post-meta d-block"><span class="date">{{ recent_post.category }}</span> <span class="mx-1">&bullet;</span> <span>{{ recent_post.created_at|date:"M jS 'y" }}</span></div>
                                                <span>{{ recent_post.title }}</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-legal mb-5">
                <div class="container">

                    <div class="row justify-content-between">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <div class="copyright">
                                © Copyright <strong><span>{{ site_settings.site_name }} {{ current_year }}</span></strong>. All Rights Reserved
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                                {% for link in site_settings.social_media_links.all %}
                                    <a href="{{ link.url }}" target="_blank" class="mx-2"><i class="bi bi-{{ link.icon_class }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center" style="margin-bottom: 70px;"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Post Details Page JS File (Bottom Nav) -->
    <script src="{% static 'assets/js/buttom-nav.js' %}"></script>

</body>

</html>